@define-mixin atSmall {
    @media (min-width: 530px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 800px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 1200px) {
        @mixin-content;
    }
}

/* 
    To create a bit of pseudo or fake content with CSS
    Add blank space after all of the content in the main row div 
    in other word, it creates that content, right where we used to have our empty div
*/ 
@define-mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
