.wrapper {
    overflow: hidden; /* hidden margin last child */
    padding-left: 18px;
    padding-right: 18px;

    /* Adding 18 x 18px from padding-left and padding-right after adding box-sizing: border-box globally */
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;

    &--medium {
        max-width: 976px;
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    &--b-margin {
        margin-bottom: 1rem;

        @mixin atSmall {
            margin-bottom: 3.875rem;
        }
    }
}